.app-sidebar {
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px);
  min-width: 260px;
  padding: 16px;
  border-right: 1px solid rgba(0,0,0,.1);
  background: #f8f9fa;
}

small {
  font-size: 0.9rem;
}
